<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilneProjekt"
        tools:targetApi="31">
        <activity
            android:name=".minesweeper.ChooseMinesActivity"
            android:exported="false"
            android:label="Minesweeper"
            android:theme="@style/Theme.MobilneProjekt" />
        <activity
            android:name=".minesweeper.MinesweeperActivity"
            android:exported="false"
            android:label="Minesweeper"
            android:theme="@style/Theme.MobilneProjekt" />
        <activity
            android:name=".snake.SnakeActivity"
            android:exported="false"
            android:label="SnakeActivity"
            android:theme="@style/Theme.MobilneProjekt" />
        <activity
            android:name=".sudoku.view.DifficultyActivity"
            android:exported="false"
            android:label="DifficultyActivity"
            android:theme="@style/Theme.MobilneProjekt" />
        <activity
            android:name=".sudoku.view.PlaySudokuActivity"
            android:exported="false"
            android:label="PlaySudokuActivity"
            android:theme="@style/Theme.MobilneProjekt" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.arkanoid.ArkanoidMenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.arkanoid.ArkanoidActivity"
            android:parentActivityName="com.example.arkanoid.ArkanoidMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" />
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>